.footer__social-networks {
  margin-left: calc(100% * (420 / 1375));
  margin-right: calc(100% * (225 / 1375));
}

@media screen and (max-width: 1350px) {
  .footer__social-networks {
    margin-left: calc(100% * (300 / 1375));
    margin-right: calc(100% * (200 / 1375));
  }
}

@media screen and (max-width: 1150px) {
  .footer__social-networks {
    margin-left: calc(100% * (200 / 1375));
    margin-right: calc(100% * (100 / 1375));
  }
}

@media screen and (max-width: 1000px) {
  .footer__social-networks {
    margin-left: calc(100% * (100 / 1375));
    margin-right: calc(100% * (50 / 1375));
  }
}

@media screen and (max-width: 830px) {
  .footer__social-networks {
    margin: 0;
    height: fit-content;
  }

  .footer__social-networks .footer__nav-links {
    flex-direction: row;
  }

  .footer__social-networks .footer__nav-links .footer__item:not(:last-child) {
    margin-right: 24px;
  }
}

@media screen and (max-width: 600px) {
  .footer__social-networks {
    order: 1;
    margin-bottom: 24px;
  }
}
