.intro__card-container {
  width: 1144px;
  margin: auto;
  box-sizing: border-box;
  padding-top: 114px;
  padding-bottom: 164px;
}

@media screen and (max-width: 1200px) {
  .intro__card-container {
    max-width: 736px;
    padding-top: 28px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 750px) {
  .intro__card-container {
    padding-top: 93px;
    max-width: 336px;
    padding-bottom: 96px;
  }
}
