.intro__card-container {
  max-width: 1144px;
  margin: auto;
  box-sizing: border-box;
  margin-top: 114px;
  margin-bottom: 164px;
}

@media screen and (max-width: 1023px) {
  .intro__card-container {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .intro__card-container {
    padding-top: 93px;
    padding-bottom: 96px;
  }
}
