.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

@media screen and (max-width: 767px) {
  .slider__items {
    flex-direction: column;
    max-height: 770px;
    overflow: hidden;
  }
}
