.item {
  width: 328px;
  display: grid;
  grid-template-columns: 116px 212px;
  grid-template-rows: 20px 20px 180px minmax(150px);
  grid-template-areas:
    "date image"
    "tag image"
    ". image"
    "title title";
}
