.button_size-project:hover {
  background-color: #97ba9c;
}

.button_size-project:disabled {
  background-color: rgba(165, 205, 171, 0.3);
}

.button_size-project:active {
  background-color: #7a9f80;
}
