.popup-contens__link {
  color: #323232;
  text-decoration: none;
  padding: 0 0 40px;
  margin: 36px auto 0;
  font-size: 2.3em;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  width: 926px;
  text-align: center;
}

.popup-contens__link:nth-child(2) {
  margin: 170px auto 0;
}
