.footer__logo-section {
  display: flex;
  margin-top: 32px;
  min-height: 190px;
  flex-wrap: wrap;
}

@media screen and (max-width: 830px) {
  .footer__logo-section {
    margin-top: 28px;
    min-height: 131px;
  }
}

@media screen and (max-width: 600px) {
  .footer__logo-section {
    flex-direction: column;
    margin-top: 24px;
    align-items: center;
  }
}
