.menu__link {
  text-decoration: none;
  color: #323232;
}

.menu__link:last-of-type {
  margin-right: 10px;
}


.menu__link:hover {
  border-bottom: 1px solid #323232;
  margin-bottom: -1px;
}

@media screen and (max-width: 600px) {
  .menu__link {
    padding: 0;
  }
}
