.arrow_size-intro {
  font-size: 2em;
}

@media screen and (max-width: 1200px) {
  .arrow_size-intro {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 750px) {
  .arrow_size-intro {
    font-size: 2em;
  }
}
