.header__container {
  max-width: 1400px;
  width: calc(100vw * 1400 / 1440);
  height: 50px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #3232324d solid;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .header__container {
    font-size: 20px;
    max-width: 736px;
    font: 14px/18px "PT sans", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    width: calc(100vw * 336 / 360);
    min-width: 336px;
  }
}
