.special-projects__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .special-projects__main-text {
        justify-content: space-between;
        min-height: 172px;
    }
}

@media screen and (max-width: 767px) {
  .special-projects__main-text {
    border: solid 1px #A5CDAB;
    border-top: none;
  }
}
