.button {
  width: 329px;
  height: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #A5CDAB;
  text-align: center;
}

.button:hover {
  background: #97BA9C;
}

.button:active {
  background: #7A9F80;
}

.button:disabled {
  background: rgba(165, 205, 171, 0.3);
}
