.menu {
  width: 345px;
  list-style-type: none;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  font: 1em/1.26 "PT sans", sans-serif;
  color: #323232;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 284px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
}
